.main-container{
    display: flex;
    flex-direction: column;
    .lado{
        display: flex;
        flex-direction: row;
        padding: 25px
    }
    .baixoImagem{
        margin-bottom: 3em;
    }
    .sai{
        visibility: hidden;
    }
    .Historico{
        display: flex;
        flex-direction: column;
    }
    h3{
        margin-top: 15px;
        font-size: 25px;
    }
    p{
        font-size: 20px;
    }
}
