.main-container{
    display: flex;
    flex-direction: column;
    .lado{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 25px
    }
    .sai{
        visibility: hidden;
    }
    .Historico{
        display: flex;
        flex-direction: column;
    }
    .MENUZINHO{
        width: 400px;
        height: 90vh;
        background-color: rgb(192, 192, 192);
    }
}
