.page-dinhero{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin:0;
    padding: 0;


    select{
       padding: 10px;
        margin-top: 3em;
        border: 1.5px solid 000000;
        border-radius: 5px;
        width: 200px;
        border: 1px solid rgb(21, 109, 180);
        font-size: 15px;
    }
    h1{
        font-family:"BebasNeue-Regular";
    }
    .xs1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
        margin-top: 5em ;
    }
    .im{
        text-align: center;
        margin-left: 2em;
        margin-top: 3em;
        height: 400px;
        width: 400px;
    }
}