.page-rodape{
     width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(189, 189, 189, 0.212);
    .direcao-rodape{
       
        display: flex;
        flex-direction: row;
        padding: 60px;
        justify-content: space-between;

    }
    .gx{
        width: 80px;
        height: 80px;
    }
    .coluna-rodape{
        display: flex;
        flex-direction: column;
    }
    .titulo-rodape{
        font-family: "Sen-Regular";
        color:#005fb8;
        font-size: 16px;
    }
    .texto-rodape{
        color:#474747;
        font-size: 14px;
        margin-top: 10px;
        font-family: "Sen-Regular";
    }
    p{
        font-family: "Sen-Regular";
    }
    .baixo{ 
        text-align: center;
        background-color: #0B4E6B;
        color:white;
        height: 150px;
    }
    .text{

        margin: 3%;
        font-size: 14px;
        text-align: center;
    }

    @media (max-width:900px){
        .baixo{
            padding: 10px;
        }
        .text{       
            font-size: 12px;
            text-align: center;
        }
        img{
            width: 65px;
            height: 65px;
        }
    .direcao-rodape{
        display: flex;
        flex-direction: row;
        padding: 40px;
        justify-content: space-between;
    }
    .titulo-rodape{
        font-size: 14px;
    }
    .texto-rodape{
        font-size: 12px;
        margin-top: 8px;
    }
    }

    @media (max-width:500px){

        .lado{
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
        .direcao-rodape{
       
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px;
            text-align: center;
    
        }
        .titulo-rodape{
            margin: 10px;
            font-size: 12px;
        }
        .texto-rodape{
            color:#474747;
            font-size: 10px;
            margin-bottom: 7px; 
        }

        .text{       
            font-size: 10px;
            text-align: center;
        }
        .baixo{ 

        height: 225px;
    }
    }
    
    
}