.paga-carrinho2{
    margin: 0;
    padding: 0;
  .c1mar{
    border-radius: 5px;
    margin-left: 1em;
    padding: 15px;
    width: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    
    
  }
    .c1xx{
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .img{
            
            width: 140px;
            height: 100px;
        }
        img{
            cursor: pointer;
        }
        p{
            font-size: 20px;
            font-family: 'BebasNeue-Regular';
        }
    }

    .c1xx2{
        margin-top: 0.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        p{
            font-size: 20px;
            font-family: 'BebasNeue-Regular';
        }
    }
    .s1x{
        
        width: 150px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        img{
            width: 25px;
            height: 25px;
        }

    }
    .xcx{
        width: 150px;
        align-items: center;
        border: 1px solid red;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
}