.page-endereco {
    display: flex;
    flex-direction: column;
    
   .sai{
          visibility: hidden;
   }
     .c1{
        
         width: 50em;
         padding: 5px 5px;
         display: flex;
         justify-content: start;
         flex-direction: column;
         border: 1px solid rgb(100, 100, 100);
         border-radius: 5px;

         input{
            width: 300px;
            border: none;
            outline: 0;
            border-bottom: 2px solid #0B4E6B;
         }
         h3{
            font-family: 'BebasNeue-Regular';
         }
         margin-bottom: 3em;

     }
     .c2{
        margin-top: 3em;
         display: flex;
         justify-content: space-around;
         flex-direction: row;
     }
     .c{
      margin-top: 1.5em;
      display: flex;
      justify-content: center;

      button{
         background-color: #0B4E6B;
         color: white;
       
         padding: 11px 40px;
         border: none;
         font-family: 'BebasNeue-Regular';
         font-size: 20px;
         border-radius: 5px;
     }
 
     button:hover{
         cursor: pointer;
      background-color: #0e6286;
      transform: scale(1.04);
     
  
  
     }
     }
     
}