.containerEstoque{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    hr{
        border: solid #000000 1px;
        
    }
}

.informacoesEstoque{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}

