.tudo{
    section{
       width: 40em;   
         border: solid #959595 2px;
         margin-top: 2em;
    }
    .s1xx{
        border: 1px solid red;
        display: flex;
        justify-content: center;
        
        flex-direction: row;
    }
    .s1xx img {
        cursor: pointer;
        margin-left: 1em;
        height: 40px;
        width: 40px;
    }
    h1{
        text-align: center;
        font-family: "BebasNeue-Regular";
    
    }
    
    .containerEstoque{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        padding: 9px;
        
        hr{
            border: solid #959595 1px;
            
        }
    }
    
    .informacoesEstoque{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }
    
    .textoProduto{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .Estoque{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }
    
    .imagensEstoque{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        img{
        margin-left: 10px;
        }
    }
        
}
