.tudo{
    section{
       width: 40em;   
         border: solid #959595 2px;
         margin-top: 2em;
    }
    .s1xx{
        border: 1px solid red;
        display: flex;
        justify-content: center;
        
        flex-direction: row;
    }
    .s1xx img {
        cursor: pointer;
        margin-left: 1em;
        height: 40px;
        width: 40px;
    }
    h1{
        text-align: center;
        font-family: "BebasNeue-Regular";
    
    }
    table {
       
        width: 100%;
        border-collapse: collapse;
        margin-top: 50px;
    }
    th {
        text-align: left;
        color: #fff;
        padding: 25px 40px;
        font-size: 14px;
        text-shadow: 0px 1px 4px rgba(217, 217, 217, 0.5);
    }
    thead {
        background-color: #7773F2;
    }
    td {
        padding: 25px 40px;
        font-weight: 500;
    }
    tbody tr:nth-child(even) {
        background-color: #EDEDED;
    }
    tbody tr:hover {
        background-color: #e1e1e1;
    }
    td img {
        width: 18px;
        cursor: pointer;
    }
    tr td:nth-child(2) {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; 
        width: 100px;
    }
    tr td:nth-child(1) {
        color: #606060;
        font-weight: 700;
    }
    tr td:nth-last-child(1) * {
        visibility: hidden;
    }
    tr:hover td:nth-last-child(1) img {
        visibility: visible;
    }
    
    .containerEstoque{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        padding: 9px;
        
        hr{
            border: solid #959595 1px;
            
        }
    }
    
    .informacoesEstoque{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }
    
    .textoProduto{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .Estoque{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }
    
    .imagensEstoque{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        img{
        margin-left: 10px;
        }
    }
        
}
