.tudo {

    .pagina {
        border: 1px solid red;
        display: flex;
        flex-direction: row;
    }
    .m{
        margin-top: 5em;
        display: flex;
        flex-direction: row;
        width: 700px;
        height: 400px;
        justify-content: space-around;
        border: 1px solid black;

    }

    .baixo {
        padding: 15px;
        box-shadow: 10px 5px 5px rgb(204, 204, 204);
        border-radius: 5px;

        display: flex;
        height: 250px;
        flex-direction: column;
    }

    .xx1 {
        align-items: center;
        text-align: center;
        img{
            margin-top: 1em;
            margin-left: 1em;
        }
        p{
            text-align: center;
        }
        padding: 16px;

        border: 0.5px solid rgb(68, 68, 68);
        width: 210px;
        border-radius: 5px;
        height: 200px;
        overflow-y: scroll;
        td{
           
            margin-top: 0.3em;
            padding: 3px;
            border-bottom: 1px solid #0B4E6B;
        }
    }
h2{
    font-family: 'BebasNeue-Regular';
}
        

        button{
            font-family: 'BebasNeue-Regular';
            font-size: 20px;
            border: none;
            color: white;
            padding: 15px 15px;
            border-radius: 10px;
            background-color:#1077A4 ;
            
        }
    
        button:hover{
            cursor: pointer;
            background-color:#399dc9 ;
            transition: 1s;
            
        }
    





}



