.tudo {

    .pagina {
        display: flex;
        flex-direction: column;
    }

    .baixo {
        padding: 15px;
        box-shadow: 10px 5px 5px rgb(204, 204, 204);
        border-radius: 5px;

        display: flex;
        flex-direction: column;
    }

    .xx1 {
        align-items: center;
        text-align: center;
        img{
            margin-top: 1em;
            margin-left: 1em;
        }
        p{
            text-align: center;
        }
        padding: 16px;

        border: 0.5px solid rgb(68, 68, 68);
        width: 210px;
        border-radius: 5px;
        height: 200px;
        overflow-y: scroll;
        td{
           
            margin-top: 0.3em;
            padding: 3px;
            border-bottom: 1px solid #0B4E6B;
        }

        

    .lado{
        display: flex;
        flex-direction: row;
    }
    .div{
        background-color: aqua;
        display: flex;
        flex-direction: row;
    }
    button{
        font-size: 12px;

    }

    .mural {

        .lado {
            border-radius: 15px;
            box-shadow: 10px 5px 5px rgb(204, 204, 204);
            padding: 40px;
            width: 900px;
            height: 100%;
            border: 1px solid rgb(0, 0, 0);
            display: flex;
            justify-content: space-around;
            flex-direction: row;
        }

        h2 {
            margin-top: 0.5em;
            font-family: 'BebasNeue-Regular';


        }
 input {

        width: 160px;



    }

    button {
        background-color: #0B4E6B;
        color: white;
        margin-top: 2em;
        padding: 11px 40px;
        border: none;
        font-family: 'BebasNeue-Regular';
        font-size: 20px;
        border-radius: 5px;
    }

    button:hover {
        cursor: pointer;
        background-color: #0e6286;
        transform: scale(1.04);



    }
    }



}



}
