.page-ender {
    margin: 0px;
    padding: 0px;
    .sai{
        visibility: hidden;
    }
    h1 {
        margin-top: 1em;
        font-family: "BebasNeue-Regular";
    }


    section {
        h1 {
            font-size: 30px;

            font-family: "BebasNeue-Regular";
        }
        display: flex;
        flex-wrap: wrap;

        width: 100%;
    }
    .center{
        padding: 15px;
        justify-content: center;
        text-align: center;
    }

    .cx1 {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: row;

        h1{
            font-size: 40px;
        }

            div{
                align-items: center;
            }
        img { 
            margin-top: 3em;
            height: 50px;
        }
    }

    .cx2 {
        flex-wrap: wrap;
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        text-align: center;
        width: 90%;
        flex-direction: row;

    }

    .c1xx {

        border: 1px solid red;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .csx2 {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 15px;
        justify-content: space-around;
        text-align: center;
        border: 1px solid rgb(167, 167, 167);

        p {
            font-size: 20px;
            font-family: "BebasNeue-Regular";
        }

        button {
            color: white;
            padding: 10px 10px;
            border-radius: 10px;
            background-color: rgb(10, 79, 136);
        }
    }

    .cs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .cxx {
        align-items: center;
        text-align: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 5px;
        height: 15em;
        text-align: center;
        border: 1px solid rgb(167, 167, 167);
        margin: 20px;

        h3 {
            margin-top: 2.5em;
            font-family: "BebasNeue-Regular";
        }

        p {
            font-size: 15px;
            font-family: "BebasNeue-Regular";
        }

    }


}