.page-oferta{

    
     width: 110%;
     padding: 0;
     margin: 0;
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-left: 4em;
     margin-right: 4em;
    

    
    .card{
        
        width: 100px;
        display: flex;
        margin-right: 1em;
        flex-direction: column;
        align-items: center;
        margin-left: 1em;
        transition:  .3s;
        width: 250px;
      p{
           width: 10em;
        font-family:"BebasNeue-Regular";
       }

    }
    img{
        height: 200px;
        width: 200px;
    }
    .card:hover{
        cursor: pointer;
        
        
        border: 0.0px solid rgb(230, 230, 230);
        box-shadow: 10px 5px 5px rgb(179, 177, 177);
   }
 
}