div{
    border: 1px solid rgb(255, 8, 0);

}

.paga-menux{
    display: flex;
    flex-direction: column;
    
}

.xvx{
        background-color: #08374B;
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
 
}

   
.links{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}


.xv1x{
        padding: 7px 7px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;

}
    

.sair{
        padding: 5px 5px;
        display: flex;            

        img{
            width: 2.3em;
            height: 1.8em;
    
        }
}
   
   