.page-cartao{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1{
        font-family: 'BebasNeue-Regular';
    }
   .itens{
       
       border: 1px solid aqua;
       width: 100%;
       margin-bottom: 3em;
   }
    .section{
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        width: 96%;
        height: 35em;
    }
    .x1{
        box-shadow: 10px 5px 5px rgb(204, 204, 204);
        margin-top: 5em;
        border: 0.5px solid black;
        border-radius: 5px;
        align-items: center;
        width: 50em;
        padding: 20px 10px;
        height: 27em;
        
        display: flex;
        flex-direction: column;
        
    }
    .ip1{
        width: 250px;
        border: none;
        outline: 0;
        border-bottom: 2px solid #0B4E6B;
    }
  
   
    .x2{
        div{
            margin-top: 3em;
            margin-left: 2em;
            margin-right: 2em;
        }
       
        display: flex;
        flex-direction: row;
    }
    h3{
          text-align: start;
        font-size: 25px;
        font-family: 'BebasNeue-Regular';
      }
      button{
          border-radius: 5px;
          font-size: 20px;
          font-family: 'BebasNeue-Regular';
          background-color: #0B4E6B;
          color: white;
          padding: 15px 20px;
      }
      button:hover{
          cursor: pointer;
          background-color: #1175a0;
      }
      .x3{
          display: flex;
          flex-direction: column;
          margin-top: 2em;
          h3{
              margin-bottom: 2em;
          }
      }

      table {
          border: 1px solid red;
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        font-weight: 700;
        margin-top: 50px;
    }
    th,td {
        padding: 20px 10px;
        text-align: center;
        
        border-bottom: 1px solid #cfcfcf;
        color: #767676;
    }
    tr th:first-child {
        text-align: left;
    }
    th {
        font-weight: 500;
        border-bottom: 1px solid #b4b4b4;
        color: #9b9b9b;
    }
    
    th:first-child {
        width: 50%;
    }






    .celula-item {
        display: flex;
        align-items: center;
        text-align: left;
    }
    .celula-item h3 {
        margin: 2px 0px;
        color: #575757;
    }
    .celula-item img {
        height: 100px;
        margin-right: 15px;
    }
    .celula-item h4 {
        color: #808080;
        font-weight: 500;
    }

      
}