*{
    
    margin: 0;
    
}

@font-face {

    font-family:"BebasNeue-Regular";
    src: url("../../public/assets/fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family:"IstokWeb-Regular";
    src: url("../../public/assets/fonts/IstokWeb-Regular.ttf");
}

@font-face {
    font-family:"IstokWeb-BoldItali" ;
    src: url("../../public/assets/fonts/Istok_Web/IstokWeb-BoldItalic.ttf");
}

@font-face {
    font-family:"IstokWeb-Italic" ;
    src: url("../../public/assets/fonts/Istok_Web/IstokWeb-Italic.ttf");
}

@font-face {
    font-family:"IstokWeb-Bold." ;
    src: url("../../public/assets/fonts/Istok_Web/IstokWeb-Bold.ttf");
}
@font-face {
    font-family: "Sen-Regular";
    src: url("../../public/assets/fonts/Sen-Regular.ttf");
}