.page-carrinho{
    margin: 0;
    padding: 0;
    width: 99.9%;
    height: 40em;

    .c1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  .cx2{
      width: 100%;
      display: flex;
      flex-direction: column;
  }
     
    .c2{
        height: 120px;
        width: 200px;
        margin-right: 1em;
        padding: 15px;
        border: 1px solid rgb(159, 161, 161);
        text-align: center;

        h3{
            font-family: 'BebasNeue-Regular';
    
        }
        p{
            font-family: 'BebasNeue-Regular';
    
        }

        button{
            border-radius: 5px;
            color: white;
            padding: 10px 10px;
            background-color: rgb(9, 81, 129);
        }
        button:hover{
            cursor: pointer;
            background-color: rgb(44, 126, 180);
        }
    }

    .x1x{
       margin-top: 3em;
        width: 100%;
        height: 40em;
    }
    .card{
      display: flex;
      flex-direction: column;
      text-align: start;
      height: 200px;
      width: 12em;
     border: 1px solid red;
   
    p{
        font-size: 20px;
        font-family: 'BebasNeue-Regular';
    }
  }
    .imgxx{
     width: 180px;
    
    }
    .h1{
        font-size: 30px;
        text-align: center;
        font-family: 'BebasNeue-Regular';
    }
}