

   

   .cxx{
    cursor: pointer;
   
  
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    width: 15em;
  
    border: 1px solid rgb(167, 167, 167);
    h3{
        
        font-family:"BebasNeue-Regular";
    }

    p{
        font-size: 15px;
        font-family:"BebasNeue-Regular";
    }

   } 

