.div-botao {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 7%;

}

.btvoltar {
   
    width: 7%;
    height: 2em;
    margin-left: 1em;
    margin-top: 2em;
    background-color: #17749c;
    color: #ffffff;
    font-family: 'BebasNeue-Regular';
    font-size: 1.3em; 
    border-radius: 1em;
} 