
.cont-detalhes {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    .section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    h1 {
        font-size: 2.5em;
        font-family: 'IstokWeb-Bold';
    }
    
    .div-numPedido {
        font-size: 1.5em;
        font-family: 'BebasNeue-Regular';
        width: 80%;
        height: 5%;
    }

    .infosProd {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 63%;
        height: 22%;
        padding: 1em;
       background-color: rgb(206, 206, 206);
       border-radius: 0.7em
    }

    .descricoes {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: flex-start;
        width: 60%;
        font-size: 1.3em;
    }

    .img-produto {
        width: 7em;
        height: 7em;
        border-radius: 5px;
        margin-right: 1em;
    }

    .descricoes2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        height: 100%;
        font-size: 1.3em;
    }
/*tamanho da fonte tem q ser separado da div pra nao interferir*/

    .botao-confirmar {
        width: 75%;
        height: 25%;
        font-size: 1em;
        font-family: 'IstokWeb-Regular';
        border-radius: 0.4em;
        background-color: #18759C;
        color: #ffffff;
    }

    .div-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
    }
    
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 20em;
        height: 11em;
        padding: 1.5em;
        background-color: #18759C;
        color: rgb(0, 0, 0);
        border-radius: 1em;
    }

    .titulo-entrega {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 25%;
        border: #823409 2px;
        font-family: 'BebasNeue-Regular';
    }

    .div-infosende {
        width: 100%;
        
    }

    .infosende {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
            font-family: 'Sen-Regular';
            color: #ffffff;
        }



        // sccs do componente Voltar

        .div-botao {
            display: flex;
            flex-direction: row;
            justify-content: start;
            width: 100%;
            height: 7%;
        }

        .btvoltar {
            border-radius: 1.7em; 
            width: 8%;
            height: 65%;
            margin-top: 1em;
            margin-left: 1.2em;
            border-radius: 1.57m;
            background-color: #18759C;
            color: #ffffff;
            font-family: 'BebasNeue-Regular';
            font-size: 1.3em;
        }
}