.page-cartao{
padding: 0;
margin: 0;

.cx1{
   
    display: flex;
    margin-top: 3em;
    flex-direction: row;
    justify-content: space-around;
}

h4{
    font-size: 20px;
    font-family: "BebasNeue-Regular";
}
.cx2{
    margin-top: 3em;

    display: flex;
    flex-direction: column;
}

.h1{
    font-family: "BebasNeue-Regular";
    margin-top: 2em;
  
}


.cx3{
    
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}

.cx4{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
}

.cx4 p{
    margin-top: 0.3em;
    margin-left: 0.2em;
    font-size: 30px;
    font-family: 'BebasNeue-Regular';
}

button{
    background-color: #0B4E6B;
       color: white;
       
       padding: 11px 40px;
       border: none;
       font-family: 'BebasNeue-Regular';
       font-size: 20px;
       border-radius: 5px;
      margin-left: 3em;
}
.cxx{
    margin-left: 2em;
}


.imgx{
    margin-top: 3em;
    height: 200px;
    width: 500px;
}

.input{
       padding: 5px;
    width: 200px;
    border: none;
    outline: 0;
    background-color: #EAEAEA;
    border-radius: 5px;
  
}


select{
    padding: 10px;
     margin-top: 3em;
     border: 1.5px solid 000000;
     border-radius: 5px;
     width: 200px;
     border: 1px solid rgb(21, 109, 180);
     font-size: 15px;
 }

}