.page-filtros{
     margin-top: 2em;
    display: flex;
    flex-direction: column;
    

    .c1{
        border: 1px solid rgb(124, 121, 121);
        border-radius: 5px;
        
        height: 150px;
        width: 160px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        
        margin-left: 1em;
    }
    .c2{
        margin-top: 0.5em;
        margin-left: 0.5em;
        display: flex;
        flex-direction: row;
    }
    .c3{
        
        border: 1px solid rgb(124, 121, 121);
        border-radius: 5px;
        height: 150px;
        width: 160px;
       
        display: flex;
        flex-direction: column;
        
        margin-left: 1em;

    }
    input{
        margin-top: 0.3em;
    }


    h3{
        font-family:"BebasNeue-Regular";
        margin-top: 1.1em;
        margin-left: 2em;
    }
     
        
    
    p{
        margin-left: 0.5em;
        margin-bottom: 0.5em;
        font-family:"IstokWeb-Regular"
       
    }

}