.page-pedidi-cliente{
  margin: 0;
  margin-top:    1em;
  margin-left:   1em;
  margin-right:  2em;
  margin-bottom: 1em;
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column                                                                ;

  .div-tabela{
    display: flex;
    justify-content: center;
  }
  .div-button{
    
    display: flex;
    width: 350px;
    justify-content: end;

    button {
        background-color: #0B4E6B;
        color: white;
        margin-top: 3em;
        padding: 5px 20px;
        
        border: none;
        font-family: 'BebasNeue-Regular';
        font-size: 20px;
        border-radius: 5px;
    }

    button:hover {
        cursor: pointer;
        background-color: #0e6286;
        transform: scale(1.04);



    }
  }

  table {
        
    align-items: center;
    width: 55em;
    border-collapse: collapse;
    margin-top: 50px;
}
th {
    border: 1px solid black;
    font-family: sans-serif;
    text-align: left;
    color: #fff;
    padding: 9px 17px;
    font-size: 14px;
    text-shadow: 0px 1px 4px rgba(217, 217, 217, 0.5);
}

thead {

    background-color: #0B4E6B;
}

td {
    font-family: 'BebasNeue-Regular';
    border: 1px solid black;
    padding: 5px 29px;
    font-weight: 500;
}

tbody tr:nth-child(even) {
    background-color: #EDEDED;
}

tbody tr:hover {
    background-color: #e1e1e1;
}

td img {
    width: 15px;
    cursor: pointer;
}

tr td:nth-child(2) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100px;
}

tr td:nth-child(1) {
    color: #606060;
    font-weight: 700;
}

tr td:nth-last-child(1) * {
    visibility: hidden;
}

tr:hover td:nth-last-child(1) img {
    visibility: visible;
}

}