.page-px{
    width: 100%;
    margin: 0;
    border: 0;
    
    overflow-x: hidden;
   

    .img1{
          
          justify-content: center;
          height: 200px;
          width: 400px;
    }
    .x{
        outline: none;
        width: 300px;
        border-bottom: 3px solid #0B4E6B;
    }
    .x2{
        outline: none;
        width: 50px;
        border-bottom: 3px solid #0B4E6B;
    }

    .sux{
        margin-top: 3em;
       
        
        height: 20em;
        width: 15em;
        display: flex;
        flex-direction: column;
    }

    .sub1{
        display: flex;
        justify-content: center;
    }

    .container1{
      
        width: 100%;
        margin-top: 5em;
        display: flex;
        flex-direction: row;
         justify-content: space-around;
    }
    .p3{
        font-family:"BebasNeue-Regular";
        font-size: 40px;
        text-align: center;
        margin-right: 3em;
        
        
    }
    h2{
      
        width: 409px;
        font-family:"BebasNeue-Regular";
    }
    
    .container2{
        width: 99%;
        border-radius: 18px;
        padding: 10px;
        width: 22em;
        border: 2.2px solid #b8b8b8;
        
    }
    .container3{
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        width: 100%;
        padding-left: 2em;
        padding-top: 3em;
      
        
      
    }
    .sx{
       
        width: 800px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .xsection{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
        width: 100%;
    }
    .sub2{
        padding: 5px;
        
    }

    .sub2 p{
        font-family:"IstokWeb-Regular";
        line-height: 17px;
        
    }

    .preço1{
        margin-top: 0.5em;
        font-size: 30px;
        font-family:"BebasNeue-Regular";
    }
    .preço2{
        margin-top: 3px;
       
        font-family:"BebasNeue-Regular";
    }

    .sub3{
        margin-top: 0.5em;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .sub4{
        margin-top: 0.5em;
        display: flex;
        flex-direction: row;
    }
    .sub5{
        margin-top: 1.5em;
        text-align: center;
    align-items: center;
    }
    .sub6{
        margin-top: 1em;
        display: flex;
        flex-direction: row;
    }
    .sub6 p {
        font-family:"IstokWeb-Regular";
        line-height: 17px;
       
    }

    .sub7{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sub8{
        border: 2.2px solid #c3c3c3;
        margin-top: 3em;
        border-radius: 6px;
        padding: 8px;
        margin-left: 3em;
        height: 100px;
    }
   


    .sub8 button{
        cursor: pointer;
      
        margin-top: 0.5em;
        padding: 10px 10px;
        
        color: white;
        background-color: #0B4E6B;
        border-radius: 10px;
       
    }
    .sub8 button:hover{
        background-color: #0b658b;
    }

    .sub8 h3{
        
        font-family:"BebasNeue-Regular";
    }
    .sub9 h3{
       
        font-family:"BebasNeue-Regular";
    }
   
    .sub9{
        border: 2.2px solid #c3c3c3;
        border-radius: 6px;
        margin-top: 3em;
        padding: 12px;
        width: max-content;
        
        margin-left: 2em;
    }

    .sub39{
        border: 2.2px solid #c3c3c3;
        border-radius: 6px;
        margin-top: 3em;
        padding: 12px;
        width: max-content;
        
        margin-left: 2em;
    }
    .sub9 p{
      
        width: 23em;
    }
    .p2{
        color: #0151CA;
    }
    .bt1{
        cursor: pointer;
        margin-left: 0.5em;
    }
    .bt1:hover{
        color: white;
        background-color: #0B4E6B;
    }

    .bt2{
        padding: 20px 50px;
        font-size: 20px;
        color: white;
        background-color: #0B4E6B;
        border-radius: 10px;

    }

    .bt2:hover{
        cursor: pointer;
        background-color: #1077A4
    }

    .bt3{
        margin-top: 0.5em;
        padding: 20px 22px;
        font-size: 20px;
        color: white;
        background-color: #0B4E6B;
        border-radius: 10px;

    }
    .subdes{
        
        
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
          justify-content: center;
    }
    .subdes p {
        font-family:"IstokWeb-Regular";
        border: 1px solid #747474;
        padding: 5px;
        background-color: #F8F8F8;
        border-radius: 5px;
    }

    .cont-avaliacao-star{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

        margin: 0px;
        padding: 0px;

        width: 7em;
        height:2.4em;
        .star-icon{
            list-style-type: none;
            cursor: pointer;
            color: #4a36ff;

            font-size: 30px;
            margin: 0px;
        }
        .star-icon::before{
            
            content:"\2605";
        }
        .star-icon.ativo ~ .star-icon::before{
            content: "\2606";
        }

        .cont-avaliacao-star:hover .star-icon::before{
            content: "\2605";
        }
        .star-icon:hover ~ .star-icon::before{
            content: "\2606";
        }
    }
.s{  
     
    img{
       
        width: 30px;
        height: 30px;
       
        }
     
}
    .subx1{
      
        margin-top: 8em;
      
        
        
    }

    
    .p1{
      
        width: 500px;
       
    }

    .bt3:hover{
        cursor: pointer;
        background-color: #1077A4
    }
    
    h4{
        font-family:"IstokWeb-Regular";
    }
    select{
        padding: 1px;
        outline: none;
        border-radius: 5px;
        width: 10em;
        border: 1px solid #747474;
    }
    

    .img2{
        img{
        margin-top: 2em;
        padding: 5px;
        width: 100px;
        height: 100px;
        border-radius: 6px;
     
        border: 2px solid #c3c3c3; 
        }
        
    }
}