
.tudoo{
    display: flex;
    flex-direction: column;

    .imagem{
        border-radius: 50%;
        cursor:default;
        width: 200px;
        height: 200px;

    }
    
    .lado{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .cabecario{
        margin-bottom: 3em;
    }
    .card{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: 1px solid black;
        width: 75vh;
        background-color: white;
        height: 10vh;
    }
    .infos{
        font-size: 20px;
        margin-right: 30px;

    }
    .info{
        font-size: 20px;
        margin-right: 30px;
        padding: 15px;
    }
    .inicial{
        font-family:"BebasNeue-Regular";
        font-size: 20px;
    }
    .inicialAdm{
        font-family:"BebasNeue-Regular";
        font-size: 30px;
    }
    .traco{
        height: 40px;
        border: 1px solid rgb(61, 61, 61);
        margin-right: 30px;
    }
    .pra-baixo{
        display: flex;
        flex-direction: column;
        gap:10px;
        margin-left: 55px;
        
    }
    .m{
        display: flex;
        flex-direction: column;
    }
        .lads{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .mural{
            display: flex;
            flex-direction: row;
            background-color: white;
        }
        .fundo{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;
        }
        .back{
            display: flex;
            flex-direction: row;
            background-image: '/assets/images/imagemDoAdm.png';
        }
        .perfilAdm{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .imagensProdutos{
            cursor:default;
            width: 70px;
            height: 70px;
            margin-right: 25px;
        }
        
        
    }


