
.tudo{
    display: flex;
    flex-direction: column;

    .imagem{
        width: 55px;
        height: 55px;
    }
    .lado{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .cabecario{
        margin-bottom: 3em;
    }
    .card{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid black;
        width: 75vh;
        background-color: white;
    }
    .infos{
        font-size: 20px;
        margin-right: 30px;
    }
    .inicial{
        font-family:"BebasNeue-Regular";
        font-size: 20px;
    }
    .traco{
        height: 40px;
        border: 1px solid rgb(61, 61, 61);
        margin-right: 30px;
    }
    .pra-baixo{
        display: flex;
        flex-direction: column;
        gap:10px;
        
    }
    .m{
        display: flex;
        flex-direction: column;
        .lads{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .mural{
            display: flex;
            flex-direction: row;
            background-color: white;
        }
        
    }

}
